<a routerLink="/welcome"
  ><img class="main__logo" src="../../assets/Untitled-1.png" alt="Logo" />
</a>

<div
  class="main"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="8rem"
>
  <span class="example-spacer"></span>
  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-title fxLayoutAlign="center center">
        <h2>ALEXANDRE MASHHADI ARCHITECTE D.P.LG</h2>
      </mat-card-title>

      <mat-card-content class="main-card__content">
        <div>
          <h3>Notre cabinet d’architecture:</h3>
          Grace a notre niveau d’expertise nous agissons pour vous en 3 phases
          en tant que maître d’œuvre.<br />
          -Phase études: <br />-Phase travaux: <br />-Esquisse <br />-APD (avant
          projet Détaillé) <br />-Construction administratives <br />-Demande de
          permis de construire <br />-Dossier Appel d’offre <br />-Assistance
          aux contrats de travaux marchés <br />-VISA <br />-Suivi Architectural
          des travaux <br />-Assistance aux opérations de Réceptions

          <h3>Bureau d’études intégré:</h3>

          Un bureau d’étude multifisciplinaire à votre complète disposition pour
          livrer vos locaux finis clé en main. <br />-Esthétique et
          communication <br />-Architecture, Interior design, Exterior design ,
          product design , graphic design <br />-Technique (Fonction ,
          Materiaux, Systèmes) <br />-Réalisation ( Construction,Fabrication ,
          Installation)
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="line"></div>

  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-title fxLayoutAlign="center center">
        <h2>UNE VISION GLOBALE DU DESIGN</h2>
      </mat-card-title>

      <mat-card-content class="main-card__content">
        <div>
          <h3>Créer un concept:</h3>
          -Ce n’est pas suivre les modes, mais devancer les aspirations des
          consommateurs -Scénariser les modes de vie et d’achat de demain
          <br />-Trouver de nouvelles manières de lire l’espace et garantir
          ainsi la pérennité de nos concepts”. <br />
          Nos équipes assurent un travail de veille, de repérage des trends, des
          innovations marketing, design, matériaux, des nouveaux business models
          et des marchés vierges à investir.<br />
          Nous allions la connaissance de l’acte sociétal d’acheter, le
          savoir-créer et le savoir-faire, ce qui nous permet d’évaluer le
          projet et la pertinence du concept.<br />Nous sommes des “chercheurs
          trouveurs”.
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="line"></div>

  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-content class="main-card__content">
        <div>
          <h2>
            Un bureau d’étude multidisciplinaire à votre complète disposition
            pour livrer vos locaux finis clé en main.
          </h2>
          <h3>Alexandre mashhadi:</h3>
          Vous permet d’avoir un seul et même interlocuteur à la fois de la
          conception en bureau d’étude, la fabrication et l’implantation.

          <h3>Conception:</h3>
          -Bureau d’étude de conception générale: Dessins 3D et simulation
          virtuelle pour une vue réaliste de vos futurs locaux.<br />
          -Bureau d’étude de conception pour les gros-oeuvres et la poste de
          systèmes.<br />
          -Bureau d’étude de conception pour la fabrication en atelier des
          ameublements sur mesure.
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="line"></div>

  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-content class="main-card__content">
        <div>
          <h2>
            Un bureau d’étude multidisciplinaire à votre complète disposition
            pour livrer vos locaux finis clé en main.
          </h2>
          <h3>
            Que vous soyez un particulier qui souhaite aménager un nouveau
            local, une société souhaitant créer de nouveaux emplacements nous
            vous offrons des services dédiés et spécialisés :
          </h3>
          Devis/Budget : <br />
          -Aspect financier du projet <br />
          -Analyse du budget <br />
          -Devis descriptif et estimatif pour le projet <br />
          -Choix des matériaux, des produit et des services <br />
          -Adaptation en fonction du budget du client si nécessaire
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="line"></div>

  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-content class="main-card__content">
        <div>
          <h3>Bureau d’étude générale et de conseils :</h3>
          -Plan 2D <br />
          -3D rendering, animations 3D, rélatité virtuelle <br />
          -Plan d’exécution : maçonnerie et gros œuvre,
          éléctricité,climatisation , plomberie,<br />
          ventilation , audio&video , vidéosurveillance, ameublement ,
          équipement<br />
          -Conseils en matière de produits , systèmes, technologies , ergonomie
          , fonctionnalité et esthétique
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div
  class="main4"
  fxLayout="row"
  fxLayoutGap="4rem"
  fxLayoutAlign="center center"
  fxLayout.lt-lg="column"
>
  <div fxLayoutAlign="center" fxFlex="33%">
    <mat-card class="main4-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-content class="main4-card__content">
        <div fxLayoutGap="1rem">
          <img
            src="../../assets/location_on_white_24dp.svg"
            alt="address icon"
          /><span>35, rue Hyppolyte<br />Maindron<br />75014 Paris</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayoutAlign="center" fxFlex="33%">
    <mat-card class="main4-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-content class="main4-card__content">
        <div fxLayoutGap="1rem" fxLayoutAlign="center center">
          <img src="../../assets/call_white_24dp.svg" alt="phone icon" /><span
            >01.75.50.42.08</span
          >
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayoutAlign="center" fxFlex="33%">
    <mat-card class="main4-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-content class="main4-card__content">
        <div fxLayoutGap="1rem" fxLayoutAlign="center center">
          <img
            src="../../assets/markunread_white_24dp.svg"
            alt="mail icon"
          /><span>atelier.mashhadi@gmail.com</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="credit" fxLayout="row" fxLayoutAlign="center center">
  <p class="credit-content" fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="row" fxLayoutAlign="center center"
      ><mat-icon fxLayoutAlign="center center">copyright</mat-icon>2021 -
      Designed by emit</span
    >
  </p>
</div>
