<div class="main" fxLayout="row">
  <a routerLink="/welcome"
    ><img class="main__logo" src="../../assets/Untitled-1.png" alt="Logo" />
  </a>

  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title
          ><h3>ALEXANDRE MASHHADI ARCHITECTE D.P.LG</h3></mat-card-title
        >
      </mat-card-header>

      <mat-card-content class="main-card__content">
        <div>
          <h4>Notre cabinet d’architecture:</h4>
          Grace a notre niveau d’expertise nous agissons pour vous en 3 phases
          en tant que maître d’œuvre. -Phase études: -Phase travaux: -Esquisse
          -APD (avant projet Détaillé) -Construction administratives -Demande de
          permis de construire -Dossier Appel d’offre -Assistance aux contrats
          de travaux marchés -VISA -Suivi Architectural des travaux -Assistance
          aux opérations de Réceptions

          <h4>Bureau d’études intégré</h4>

          Un bureau d’étude multifisciplinaire à votre complète disposition pour
          livrer vos locaux finis clé en main. -Esthétique et communication
          -Architecture, Interior design, Exterior design , product design ,
          graphic design -Technique (Fonction , Materiaux, Systèmes)
          -Réalisation ( Construction,Fabrication , Installation)
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div fxLayoutAlign="center center" fxFlex="50%">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="1rem">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title><h1>À Propos</h1></mat-card-title>
      </mat-card-header>

      <mat-card-content class="main-card__content">
        <div>
          C’est la rencontre et la collaboration de talents passionnés à fort
          potentiel créatif, au service d’une clientèle diversifiée, pour une
          architecture réfléchie et de qualité. “Des professionnels engagés
          ayant des spécificités différentes, réunis pour créer, organiser,
          innover et réfléchir ensemble aux projects.” “Alexandre Mashhadi,
          c’est un cercle de compétences, de créatifs curieux et engagés”
        </div>

        <div class="main-card__content-margin">
          École Nationale Supérieure d’Architecture de Paris La Villette ENSAPLV
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>
