.main {
  background-color: black;
  min-height: 100vh;

  &__logo {
    position: absolute;
    margin: 2rem;
    height: 10rem;
    width: 10rem;
  }

  &-card {
    width: 95%;
    height: 70%;
    //background-color: transparent;
    background-color: brown;
    border-radius: 0;
    box-shadow: none;

    &__content {
      color: white;
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;

      &-margin {
        margin-top: 2rem;
      }
    }
  }

  mat-card-title {
    color: white;
    font-weight: 100;
    //font-size: 1rem;
  }
}
