<ng-container>
  <input
    type="file"
    class="file-input"
    #fileupload
    (change)="onFileSelected($event)"
  />
  <div>
    <mat-form-field>
      <input matInput [disabled]="true" [value]="fileName" />
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="fileupload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>

    <button
      mat-raised-button
      (click)="onUpload()"
      [disabled]="!file"
      color="primary"
    >
      Upload image
    </button>
  </div>
</ng-container>
