<mat-sidenav-container class="example-container">
  <!-- <mat-sidenav #sidenav class="sidenav"></mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar class="res">
      <span class="example-spacer"></span>

      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a routerLink="/welcome" class="navigation__link">Accueil</a>
            </li>
            <li class="navigation__item">
              <a routerLink="/aboutme" class="navigation__link">À Propos</a>
            </li>
            <li class="navigation__item">
              <a routerLink="/architecture" class="navigation__link"
                >Architecture</a
              >
            </li>
            <li class="navigation__item">
              <a routerLink="/boulangerie" class="navigation__link"
                >Boulangerie</a
              >
            </li>
            <li class="navigation__item">
              <a routerLink="/restaurant" class="navigation__link"
                >Restaurant&Bar</a
              >
            </li>

            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <button
                mat-raised-button
                (click)="auth.logout({ returnTo: document.location.origin })"
              >
                Log out
              </button>
            </ng-container>

            <ng-template #loggedOut>
              <button mat-raised-button (click)="auth.loginWithRedirect()">
                Log in
              </button>
            </ng-template>

            <ul *ngIf="auth.user$ | async as user">
              <li
                class="nav-list__item"
                *ngIf="user.email == 'r.man9@yahoo.com'"
              >
                <a
                  routerLink="/addeproject"
                  routerLinkActive="active"
                  fxLayoutAlign="center center"
                  >ADD Project<mat-icon class="nav-list__item-icon">
                    video_call</mat-icon
                  >
                </a>
              </li>
            </ul>
            `
          </ul>
        </nav>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
