.main {
  background-color: black;
  min-height: 100vh;

  &__logo {
    position: absolute;
    margin: 2rem;
    height: 10rem;
    width: 10rem;
  }

  .img {
    //background-size: cover;
    background-position: center;
    height: 60rem;
    width: 85rem;
  }
}

mat-card {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #d4af37;
}
h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  color: #d4af37;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
  color: #d4af37;
  text-align: center;
}

.line {
  //position: absolute;
  border-bottom: 4px solid #d4af37;
  width: 71.5rem;
}

.test1 {
  font-size: 2.5rem;
}

.main4 {
  background-color: black;
  min-height: 30vh;

  &-card {
    width: 90%;
    height: 60%;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    &__content {
      color: white;
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;
    }

    mat-card-title {
      color: white;
    }
  }
}

.credit {
  background-color: black;
  min-height: 5vh;

  &-content,
  mat-icon {
    font-size: 12px;
    color: white;
  }
}

.image {
  width: 4rem;
  height: 4rem;
}

.file-input {
  font-size: 2rem;
}

.responsiveCard {
  width: 30rem !important;
  height: 25rem !important;
}

.responsiveImg {
  width: 20rem !important;
  height: 12rem !important;
}

.responsiveTxt {
  font-size: 2.3rem;
  margin-top: 10rem !important;
}

.responsiveLine {
  width: 25rem !important;
}
