<div class="main" fxLayoutAlign="center center">
  <mat-card class="card">
    <form class="container" [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="res">
        <mat-form-field>
          <input
            matInput
            formControlName="description"
            placeholder="Enter description"
          />
          <mat-error *ngIf="form.get('description').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="categories">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.value"
            >
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <input
          type="file"
          class="file-input"
          #fileupload
          (change)="onFileSelected($event)"
          formControlName="photo"
        />
        <div>
          <mat-form-field>
            <input matInput [disabled]="true" [value]="fileName" />
          </mat-form-field>

          <button mat-mini-fab color="primary" (click)="fileupload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div> -->
        <button
          mat-raised-button
          style="float: right"
          (click)="onAddDatas()"
          class="submit-button"
          [disabled]="form.invalid"
        >
          save
        </button>
      </div>
    </form>

    {{ form.value | json }}
  </mat-card>
</div>
