<div class="main" fxLayoutAlign="center center">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step label="Add project">
      <app-first-form-step
        (emitProjectId)="onNewProject($event)"
      ></app-first-form-step>
    </mat-step>

    <mat-step label="Add project image" *ngIf="!!project">
      <app-add-project-image [project]="project"></app-add-project-image>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<!-- <div class="main" fxLayoutAlign="center center">
  <mat-card class="card">
    <form class="container" [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="res">
        <mat-form-field>
          <input
            matInput
            formControlName="description"
            placeholder="Enter description"
          />
          <mat-error *ngIf="form.get('description').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="categories">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.value"
            >
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container>
          <input
            type="file"
            class="file-input"
            #fileupload
            (change)="onFileSelected($event)"
          />
          <div>
            <mat-form-field>
              <input matInput [disabled]="true" [value]="fileName" />
            </mat-form-field>

            <button mat-mini-fab color="primary" (click)="fileupload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </ng-container>
        <button
          mat-raised-button
          style="float: right"
          (click)="onAddDatas()"
          class="submit-button"
          [disabled]="form.invalid"
        >
          save
        </button>
      </div>
    </form>

    {{ form.value | json }}
  </mat-card>
</div> -->

<!-- <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
