<!-- <mat-horizontal-stepper [linear]="isLinear" #stepper> -->

<form [formGroup]="form">
  <ng-template matStepLabel>Fill out your name</ng-template>
  <mat-form-field>
    <mat-label>description</mat-label>
    <input
      matInput
      placeholder="Last name, First name"
      formControlName="description"
      [disabled]="isNewProjectAdded"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categories" [disabled]="isNewProjectAdded">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="save">
    <button
      mat-raised-button
      (click)="onSaveProject()"
      color="primary"
      *ngIf="!isNewProjectAdded"
    >
      Save
    </button>
  </div>
  <br />
  <div>
    <button mat-button matStepperNext color="primary">Next</button>
  </div>
</form>

<!-- </mat-horizontal-stepper> -->
