<div class="main" fxLayout="row" fxLayoutGap="4rem">
  <a routerLink="/welcome"
    ><img class="main__logo" src="../assets/logoalexandre.jpg" alt="Logo" />
  </a>
  <div
    fxLayout.lt-lg="column"
    fxLayout="row"
    fxFlex
    fxLayoutGap.lt-lg="4rem"
    fxLayoutGap="4rem"
  >
    <div class="color" fxLayoutAlign="start center" ngClass.lt-lg="responsive2">
      Dark <br />
      Interior
    </div>

    <div
      class="row"
      fxLayout="row"
      fxFlex
      fxLayoutAlign="start center"
      fxLayout.lt-lg="column"
      ngClass.lt-lg="responsive1"
      fxLayoutGap.lt-lg="4rem"
    >
      <div class="col-1-of-3" fxFlex>
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture-1">&nbsp;</div>
            <!-- <div class="card__heading"></div> -->
          </div>
          <div
            class="card__side card__side--back card__side--back-1"
            fxLayoutAlign="center center"
            fxLayout="row"
          >
            <div class="card__cta">
              <div class="btn-position">
                <a routerLink="/portfolio" class="btn btn-white"
                  >see more &rarr;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-2-of-3" fxFlex>
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture-2">&nbsp;</div>
            <!-- <div class="card__heading"></div> -->
          </div>
          <div
            class="card__side card__side--back card__side--back-1"
            fxLayoutAlign="center center"
          >
            <div class="card__cta">
              <div class="btn-position">
                <a routerLink="/portfolio" class="btn btn-white"
                  >see more &rarr;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3-of-3" fxFlex>
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture-3">&nbsp;</div>
            <!-- <div class="card__heading"></div> -->
          </div>
          <div
            class="card__side card__side--back card__side--back-1"
            fxLayoutAlign="center center"
          >
            <div class="card__cta">
              <div class="btn-position">
                <a routerLink="/portfolio" class="btn btn-white"
                  >see more &rarr;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="color" fxLayout="column" fxLayoutAlign="center">
    <a routerLink="/welcome"
      ><img class="logo" src="../assets/3.png" alt="Logo" />
    </a>
  </div>

  <div class="color" fxLayout="column" fxLayoutAlign="center">
    <a routerLink="/welcome"
      ><img class="logo" src="../assets/6.png" alt="Logo" />
    </a>
  </div>

  <div class="color" fxLayout="column" fxLayoutAlign="center">
    <a routerLink="/welcome"
      ><img class="logo" src="../assets/10.png" alt="Logo" />
    </a>
  </div> -->

  <!-- <mat-grid-list cols="3" rowHeight="1:1" gutterSize="4rem">
    <mat-grid-tile>
      <mat-card
        class="main-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title><h1>پروژه‌ها</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main-card__content">
          ما در ابتدا درخواست شما را بررسی می‌کنیم و سپس بر اساس نیازهای شما
          بهترین و اقتصادی‌ترین گزینه‌ها را به شما پیشنهاد می دهیم
        </mat-card-content>

        <div class="main-btn-position" fxLayoutAlign="start center">
          <a routerLink="/portfolio" class="main-btn main-btn-white"
            >بیشتر ببینید &rarr;</a
          >
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main-card__img"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main-card__img"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->

  <!-- <div *ngIf="datas | async" class="test4">
  <div class="" *ngFor="let item of datas">{{ item.id }}</div>
</div> -->
</div>
